 /* Code snippet specific styles */
 pre {
    margin: 0;
    padding: 1em; /* Adjust the padding to ensure the code isn't too close to the borders */
    background: #1e1e1e; /* VS Code default dark theme background color */
    color: #d4d4d4; /* Light grey color for the code text, similar to VS Code's default */
    overflow-x: auto; /* for horizontal scrolling */
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
    border-radius: 4px; /* Optional: for rounded corners */
    box-shadow: 0 0 .5em rgba(0,0,0,.3); /* subtle shadow for depth */
}

code {
    display: block; 
    white-space: pre; 
    font-size: 0.9em; 
    line-height: 1; 
}
pre code:before {
    content: counter(line);
    counter-increment: line;
    display: inline-block;
    width: 1em; /* Width of the gutter for line numbers */
    padding-right: 0.5em;
    margin-right: 0.5em;
    color: #858585; /* Color for the line numbers */
    text-align: right; /* Align the line numbers to the right */
    border-right: 1px solid #333; /* Line to separate gutter from code */
    margin-left: -3em; /* Align the gutter to the left of the code */
}

	.profile-pic img {
		border-radius: 50%; /* Makes the image round */
		width: 300px; /* Adjust the size as needed */
		height: auto;
		display: block;
		margin: 0 auto; /* Center the image */
		margin-bottom: 0;
	}
	
	/* Introduction Styles */
	#intro {
		text-align: center; /* Center the content */
		padding: 4em 0; /* Adjust padding as needed */
	}
	
	#intro h1 {
		margin-top: 1em; /* Space between the image and name */
	}
	#main h1{
		color: #ffffff;
	}
	
	#intro p {
		font-size: 1.0em;
		color: #ffffff; /* Subtitle color */
	}

	.roles-responsibilities h3 {
		color: #ffffff; /* Adjust color as needed */
		margin-bottom: 1em;
	}
	
	.roles-responsibilities ul {
		list-style: disc;
		padding-left: 20px; /* Adjust as needed */
		color: #ffffff; /* Adjust color as needed */
	}