.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25em;
}

.row.aln-top {
    align-items: start;
}

.row.aln-middle {
    align-items: center;
}

.row.aln-bottom {
    align-items: end;
}

.row.aln-left {
    justify-content: start;
}

.row.aln-center {
    justify-content: center;
}

.row.aln-right {
    justify-content: end;
}

.row.gtr-0 {
    gap: 0;
}

.row.gtr-25 {
    gap: 0.3125em;
}

.row.gtr-50 {
    gap: 0.625em;
}

.row.gtr-200 {
    gap: 2.5em;
}

.project-grid .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Creates a 12-column grid */
    gap: 1em; /* Spacing between grid items */
}

/* Define how many columns the project items should span on different screen sizes */
.project-item {
    grid-column: span 4; /* Default to 4 columns span (3 items per row) */
}

/* Responsive adjustments */
@media screen and (max-width: 980px) {
    .project-item {
        grid-column: span 6; /* 2 items per row on medium screens */
    }
}

@media screen and (max-width: 736px) {
    .project-item {
        grid-column: span 12; /* 1 item per row on small screens */
    }
}
